* {
    font-weight: normal;
}

a.selected-status {
    font-weight: bold;
    color: orange;
}

.bg-aqua-active {
    background-image: url('/backend/img/business.jpg');
    width: 100%;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

/* .widget-user-header {
    height: 200px !important;
} */