@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #fff;
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #FF5126;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #FF5126;
  outline: none;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Droid Sans", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #FF5126;
}

::-moz-selection {
  color: #fff;
  background: #FF5126;
}

::selection {
  color: #fff;
  background: #FF5126;
}

.smk-container {
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.smk-nav {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 1001;
  background: #fff;
  /* webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15); */
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 768px) {
  .smk-nav {
    padding: 20px 0;
  }
}
.smk-nav #smk-logo {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.smk-nav #smk-logo em {
  color: #FF5126;
}
.smk-nav a {
  padding: 0px 10px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .smk-nav .menu-1, .smk-nav .menu-2 {
    display: none;
  }
}
.smk-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}
.smk-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
.smk-nav ul li a {
  font-size: 16px;
  padding: 30px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.smk-nav ul li a:hover, .smk-nav ul li a:focus, .smk-nav ul li a:active {
  color: #FF5126;
}
.smk-nav ul li.has-dropdown {
  position: relative;
}
.smk-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: #fff;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.smk-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.smk-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.smk-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.smk-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #999999;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}
.smk-nav ul li.has-dropdown .dropdown li a:hover {
  color: #000;
}
.smk-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}
.smk-nav ul li.has-dropdown:hover a, .smk-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.smk-nav ul li.btn-cta a {
  color: #fff;
}
.smk-nav ul li.btn-cta a span {
  border: none !important;
  background: #FF5126;
  padding: 4px 20px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.smk-nav ul li.btn-cta a:hover span {
  background: #ff6540;
  color: #fff;
}
.smk-nav ul li.active > a {
  color: #FF5126 !important;
}

#smk-header .smk-video-link a {
  color: rgba(255, 255, 255, 0.5);
}
#smk-header .smk-video-link a i {
  font-size: 18px;
  top: 2px;
  position: relative;
  color: #fff;
  height: 25px;
  width: 25px;
  line-height: 25px;
  padding-left: 3px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 5px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#smk-header .smk-video-link a:hover {
  color: white;
}
#smk-header .smk-video-link a:hover i {
  border: 1px solid white;
}
@media screen and (max-width: 480px) {
  #smk-header .text-left {
    text-align: center !important;
  }
}
@media screen and (max-width: 480px) {
  #smk-header .btn {
    display: block;
    width: 100%;
  }
}

#smk-header,
#smk-counter,
.smk-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.smk-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

.smk-video {
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.smk-video.smk-video-sm {
  height: 250px;
}
.smk-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.smk-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}
.smk-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.smk-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}
.smk-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.smk-cover {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
.smk-cover a {
  color: #FF5126;
}
.smk-cover a:hover {
  color: white;
}
.smk-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(35, 35, 35, 0.5);
}
.smk-cover > .smk-container {
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .smk-cover {
    height: 600px;
  }
}
.smk-cover .display-t,
.smk-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .smk-cover .display-t,
  .smk-cover .display-tc {
    height: 600px;
  }
}
.smk-cover.smk-cover-sm {
  height: 600px;
}
@media screen and (max-width: 768px) {
  .smk-cover.smk-cover-sm {
    height: 400px;
  }
}
.smk-cover.smk-cover-sm .display-t,
.smk-cover.smk-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .smk-cover.smk-cover-sm .display-t,
  .smk-cover.smk-cover-sm .display-tc {
    height: 400px;
  }
}
.smk-cover.smk-cover-xs {
  height: 500px;
}
@media screen and (max-width: 768px) {
  .smk-cover.smk-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}
.smk-cover.smk-cover-xs .display-t,
.smk-cover.smk-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .smk-cover.smk-cover-xs .display-t,
  .smk-cover.smk-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}
.smk-cover.smk-cover-xxs {
  padding: 3em 0;
}
.smk-cover .btn-primary {
  color: #fff !important;
}

#smk-counter .feature-center {
  background: #fff;
  padding: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
}

.smk-staff {
  text-align: center;
  margin-bottom: 7em;
  float: left;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .smk-staff {
    margin-bottom: 3em;
  }
}
.smk-staff img {
  width: 100px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.smk-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}
.smk-staff p {
  margin-bottom: 30px;
}
.smk-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

.smk-social-icons {
  margin: 0;
  padding: 0;
}
.smk-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.smk-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #FF5126;
  padding-left: 10px;
  padding-right: 10px;
}
.smk-social-icons li a i {
  font-size: 20px;
}

.smk-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}
.smk-contact-info ul {
  padding: 0;
  margin: 0;
}
.smk-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}
.smk-contact-info ul li:before {
  color: #cccccc;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.smk-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}
.smk-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}
.smk-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}
.smk-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

form label {
  font-weight: normal !important;
}

#smk-header .display-tc,
#smk-counter .display-tc,
.smk-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}
#smk-header .display-tc h1, #smk-header .display-tc h2,
#smk-counter .display-tc h1,
#smk-counter .display-tc h2,
.smk-cover .display-tc h1,
.smk-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#smk-header .display-tc h1,
#smk-counter .display-tc h1,
.smk-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #smk-header .display-tc h1,
  #smk-counter .display-tc h1,
  .smk-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}
#smk-header .display-tc h2,
#smk-counter .display-tc h2,
.smk-cover .display-tc h2 {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

#smk-counter {
  text-align: center;
}
#smk-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #FF5126;
  font-weight: 100;
  display: block;
}
#smk-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}
@media screen and (max-width: 768px) {
  #smk-counter .feature-center {
    margin-bottom: 30px;
  }
}
#smk-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  background: none !important;
  border: none !important;
}
#smk-counter .icon i {
  height: 70px;
}
#smk-counter .icon i:before {
  color: #cccccc;
  display: block;
  text-align: center;
  margin-left: 3px;
}

#smk-features,
#smk-features-2,
#smk-products,
#smk-subscribe,
#smk-footer,
#smk-faq,
.smk-section {
  padding: 2em 0;
  clear: both;
  position: relative;
}
@media screen and (max-width: 768px) {
  #smk-features,
  #smk-features-2,
  #smk-products,
  #smk-subscribe,
  #smk-footer,
  #smk-faq,
  .smk-section {
    padding: 3em 0;
  }
}
#smk-features.border-bottom,
#smk-features-2.border-bottom,
#smk-products.border-bottom,
#smk-subscribe.border-bottom,
#smk-footer.border-bottom,
#smk-faq.border-bottom,
.smk-section.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

#smk-features-2 {
  background: #efefef;
  position: relative;
  float: left;
  width: 100%;
}

.feature-center {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .feature-center {
    margin-bottom: 30	px;
  }
}
.feature-center .icon {
  width: 90px;
  height: 90px;
  border: 1px solid #eaeaea;
  display: table;
  text-align: center;
  margin: 0 auto 30px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #FF5126;
}
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}
.feature-center h3 {
  font-size: 18px;
  color: #000;
  position: relative;
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.feature-left .icon {
  float: left;
  text-align: center;
  width: 15%;
}
.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #FF5126;
}
.feature-left .feature-copy {
  float: right;
  width: 85%;
}
.feature-left .feature-copy h3 {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.smk-heading {
  margin-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .smk-heading {
    margin-bottom: 3em;
  }
}
.smk-heading.smk-heading-sm {
  margin-bottom: 2em;
}
.smk-heading h2 {
  font-size: 34px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  position: relative;
  padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .smk-heading h2 {
    font-size: 28px;
  }
}
.smk-heading h2:before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 50px;
  margin-left: -25px;
  height: 2px;
  left: 50%;
  background: #FF5126;
}
.smk-heading h2.smk-left:before {
  left: 0;
  margin-left: 0;
}
.smk-heading p {
  font-size: 20px;
  line-height: 1.5;
  color: #1a1a1a;
}
@media screen and (max-width: 768px) {
  .smk-heading p {
    font-size: 18px;
  }
}

#smk-products {
  padding-top: 10em;
  margin-top: -10em;
}
#smk-products .item img {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
#smk-products:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 180%;
  top: 0;
  -webkit-transform: skewY(-12deg);
  -moz-transform: skewY(-12deg);
  transform: skewY(-12deg);
  background: #efefef;
}
#smk-products .arrow-thumb {
  position: absolute;
  top: 40%;
  display: block;
  width: 100%;
}
#smk-products .arrow-thumb a {
  font-size: 32px;
  color: #dadada;
}
#smk-products .arrow-thumb a:hover, #smk-products .arrow-thumb a:focus, #smk-products .arrow-thumb a:active {
  text-decoration: none;
}

#smk-subscribe {
  background: #FF5126;
}
#smk-subscribe .form-control {
  background: transparent;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#smk-subscribe .form-control:focus {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8) !important;
}
#smk-subscribe .form-control::-webkit-input-placeholder {
  color: #fff;
}
#smk-subscribe .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}
#smk-subscribe .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
#smk-subscribe .form-control:-ms-input-placeholder {
  color: #fff;
}
#smk-subscribe .btn {
  height: 54px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
  background: #fff;
  border-color: #fff;
  color: #000;
}
#smk-subscribe .btn:hover, #smk-subscribe .btn:active, #smk-subscribe .btn:focus {
  background: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}
#smk-subscribe .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#smk-subscribe .form-inline .form-group .form-control {
  width: 100%;
}

#smk-footer .smk-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}
#smk-footer .smk-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}
#smk-footer .smk-footer-links li a {
  text-decoration: none;
}
#smk-footer .smk-footer-links li a:hover {
  text-decoration: underline;
}
#smk-footer .smk-widget {
  margin-bottom: 30px;
}
#smk-footer .smk-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#smk-footer .smk-widget .smk-quick-contact {
  padding: 0;
  margin: 0;
}
#smk-footer .smk-widget .smk-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
#smk-footer .smk-widget .smk-quick-contact li i {
  width: 30px;
  /* float: left; */
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
@media screen and (max-width: 768px) {
  #smk-footer .copyright .pull-left,
  #smk-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}
#smk-footer .copyright .block {
  display: block;
}

#smk-offcanvas {
  position: absolute;
  position: fixed;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  #smk-offcanvas {
    display: block;
  }
}
.offcanvas #smk-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#smk-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}
#smk-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#smk-offcanvas ul {
  padding: 0;
  margin: 0;
}
#smk-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#smk-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#smk-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}
#smk-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#smk-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.smk-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.smk-nav-toggle.active i::before, .smk-nav-toggle.active i::after {
  background: #444;
}
.smk-nav-toggle:hover, .smk-nav-toggle:focus, .smk-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.smk-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
}
.smk-nav-toggle i::before, .smk-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.smk-nav-toggle.smk-nav-white > i {
  color: #fff;
  background: #fff;
}
.smk-nav-toggle.smk-nav-white > i::before, .smk-nav-toggle.smk-nav-white > i::after {
  background: #fff;
}

.smk-nav-toggle i::before {
  top: -7px;
}

.smk-nav-toggle i::after {
  bottom: -7px;
}

.smk-nav-toggle:hover i::before {
  top: -10px;
}

.smk-nav-toggle:hover i::after {
  bottom: -10px;
}

.smk-nav-toggle.active i {
  background: transparent;
}

.smk-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.smk-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.smk-nav-toggle {
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .smk-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Droid Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #FF5126;
  color: #fff;
  border: 2px solid #FF5126 !important;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #ff6540 !important;
  border-color: #ff6540 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #FF5126;
  border: 2px solid #FF5126;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #FF5126;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #FF5126;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.smk-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .smk-nav .smk-contact {
    text-align: left !important;
  }
}
.smk-nav .smk-contact ul {
  padding: 0;
  margin: 0 0 20px 0;
}
.smk-nav .smk-contact ul li {
  padding: 0;
  margin: 0;
}
.smk-nav .smk-contact ul li a {
  font-size: 14px;
  font-weight: bold !important;
  margin-left: 0px;
}
.smk-nav .smk-contact ul li a i {
  color: #FF5126;
}
.smk-nav .smk-contact ul li a:hover i {
  color: #fff;
}

#smk-features-3 {
  position: relative;
  top: -7em;
}
@media screen and (max-width: 768px) {
  #smk-features-3 {
    top: -2em;
  }
}
#smk-features-3 .feature {
  width: 33.33%;
  float: left;
  padding: 30px;
  background: #FF5126;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #smk-features-3 .feature {
    width: 100%;
    margin-bottom: 30px;
  }
}
#smk-features-3 .feature h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
#smk-features-3 .feature p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 1.7;
}
#smk-features-3 .feature .icon {
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px auto;
  position: relative;
  background: #ff4517;
  top: -3em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#smk-features-3 .feature .icon i {
  line-height: 90px;
  height: 90px;
  font-size: 40px;
  color: #fff;
}
#smk-features-3 .feature .icon i:before {
  display: block;
  text-align: center;
  margin-left: 3px;
}
#smk-features-3 .feature.feature-1 {
  z-index: 7;
}
#smk-features-3 .feature.feature-2 {
  bottom: 0px;
  z-index: 10;
  -webkit-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0 30px 10px rgba(0, 0, 0, 0.25);
  background: #ff4112;
}
@media screen and (max-width: 768px) {
  #smk-features-3 .feature.feature-2 {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}
#smk-features-3 .feature.feature-2 .icon {
  background: #ff3402;
}
#smk-features-3 .feature.feature-2 .feature-inner {
  top: -3em;
  position: relative;
}
@media screen and (max-width: 768px) {
  #smk-features-3 .feature.feature-2 .feature-inner {
    top: 0;
  }
}
#smk-features-3 .feature.feature-2:before {
  position: absolute;
  top: -50px;
  content: "";
  background: #ff4112;
  height: 50px;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 768px) {
  #smk-features-3 .feature.feature-2:before {
    display: none;
  }
}
#smk-features-3 .feature.feature-2:after {
  position: absolute;
  bottom: -30px;
  content: "";
  background: #ff4112;
  height: 30px;
  width: 100%;
  left: 0;
}
@media screen and (max-width: 768px) {
  #smk-features-3 .feature.feature-2:after {
    display: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
}
#smk-features-3 .feature.feature-3 {
  z-index: 7;
  background: #fc3200;
}
#smk-features-3 .feature.feature-3 .icon {
  background: #f23000;
}

.smk-flex {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
}

#smk-blog {
  padding: 3em 0;
}

.smk-card-item {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.smk-card-item.has-text figure {
  margin-bottom: 30px !important;
}
.smk-card-item figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 12;
  position: relative;
}
.smk-card-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.smk-card-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.smk-card-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.smk-card-item .smk-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}
.smk-card-item .smk-text.text-left {
  text-align: left;
}
.smk-card-item .smk-text h2, .smk-card-item .smk-text span {
  text-decoration: none !important;
}
.smk-card-item .smk-text h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
  color: #FF5126;
}
.smk-card-item .smk-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}
.smk-card-item .smk-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.smk-card-item .smk-text span.btn {
  color: #666666 !important;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  background: #ebebeb;
  border: 2px solid #ebebeb !important;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.smk-card-item .smk-text .smk-category {
  font-size: 12px;
  color: #cccccc;
}
.smk-card-item .smk-text .smk-category span {
  font-size: 12px;
  color: gray;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.smk-card-item:hover, .smk-card-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}
.smk-card-item:hover img, .smk-card-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.smk-card-item:hover span.btn, .smk-card-item:focus span.btn {
  opacity: 1;
  visibility: visible;
  bottom: 0px;
  color: #fff !important;
  border: 2px solid #ff6540 !important;
  background: #ff6540 !important;
}
.smk-card-item:hover figure .overlay, .smk-card-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}
.smk-card-item:hover figure .overlay i, .smk-card-item:focus figure .overlay i {
  margin-top: -15px;
}
.smk-card-item:hover h2, .smk-card-item:hover span, .smk-card-item:focus h2, .smk-card-item:focus span {
  text-decoration: none !important;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -39px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #444;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.smk-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.smk-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}
.owl-carousel-fullwidth.smk-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.smk-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: #FF5126 !important;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: #FF5126 !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #FF5126;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #FF5126;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #FF5126;
}

#smk-faq {
  padding-top: 2em;
  position: relative;  
  background: #efefef;
}
.smk-accordion {
  position: relative;
  background: #fff;
  margin-bottom: 20px;
}
.smk-accordion .smk-accordion-heading {
  padding: 20px;
  position: relative;
  cursor: pointer;
}
.smk-accordion .smk-accordion-heading h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  /* color: #brand-primary; */
}
.smk-accordion .smk-accordion-heading .icon {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.smk-accordion .smk-accordion-content {
  border-top: 1px solid #e6e6e6;
  display: none;
}
.smk-accordion .smk-accordion-content .inner {
  padding: 20px;
}
.smk-accordion.active .icon {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.smk-accordion.active h3 {
  color: #FF5126;
}

#smk-contact h3 {
  color: #fff;
  font-size: 30px;
}

#smk-hero {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#smk-hero .btn {
  font-size: 24px;
}
#smk-hero .btn.btn-primary {
  padding: 14px 30px !important;
}
#smk-hero .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#smk-hero .flexslider .slides {
  position: relative;
  overflow: hidden;
}
#smk-hero .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 700px;
  position: relative;
}
#smk-hero .flexslider .slides li .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
#smk-hero .flexslider .flex-control-nav {
  bottom: 40px;
  z-index: 1000;
}
#smk-hero .flexslider .flex-control-nav li a {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
#smk-hero .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
}
#smk-hero .flexslider .flex-direction-nav {
  display: block;
}
#smk-hero .flexslider .flex-direction-nav a {
  position: absolute;
  cursor: pointer;
  width: 45px;
  height: 45px;
}
#smk-hero .flexslider .flex-direction-nav a:before {
  left: 0;
  top: 0;
  color: #fff !important;
  text-shadow: none !important;
  font-size: 40px;
  position: relative;
  z-index: 10;
}
#smk-hero .flexslider .flex-direction-nav a.flex-prev {
  opacity: 1 !important;
  left: 40px !important;
}
#smk-hero .flexslider .flex-direction-nav a.flex-prev:before {
  text-indent: 0px !important;
  font-family: 'icomoon';
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e929";
}
#smk-hero .flexslider .flex-direction-nav a.flex-next {
  right: 40px !important;
  opacity: 1 !important;
}
#smk-hero .flexslider .flex-direction-nav a.flex-next:before {
  font-family: 'icomoon';
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-indent: 0px !important;
  right: 0;
  content: "\e92a";
}
#smk-hero .flexslider .slider-text {
  display: table;
  opacity: 0;
  min-height: 700px;
}
#smk-hero .flexslider .slider-text > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 700px;
}
#smk-hero .flexslider .slider-text > .slider-text-inner h2 {
  font-size: 60px;
  font-weight: 300;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #smk-hero .flexslider .slider-text > .slider-text-inner h2 {
    font-size: 40px;
  }
}
#smk-hero .flexslider .slider-text > .slider-text-inner .smk-lead {
  font-size: 20px;
  color: #fff;
}
#smk-hero .flexslider .slider-text > .slider-text-inner .smk-lead .icon-heart {
  color: #d9534f;
}

.smk-section-overflow {
  overflow: hidden;
  position: relative;
}

#smk-services .feature-left .icon i {
  color: #cccccc !important;
}
#smk-services .feature-left h3 {
  color: #FF5126;
  font-size: 22px;
}

/* Comment Section */

.comments{
  margin-top: 40px;
}

.comments .single-comment{
  position: relative;
}

.comments .single-comment.reply{
  padding-left: 80px;
}

.comments .single-comment:first-of-type{
  margin-top: 40px;
}

.comments .single-comment .comment-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.comments .single-comment.reply .comment-img{
  left: 100px;
  width: 50px;
  height: 50px;
}

.comments .single-comment .comment-content{
  margin-left: 100px;
  background-color: #FAFAFA;
  border: 1px solid #F3F5F7;
  margin-bottom: 60px;
  padding: 30px;
  border-radius: 4px;
  color: #989898;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.comment-count{
  position: absolute;
  right: 0;
  bottom: -35px;
  font-size: 12px;
}

.comment-count a{
  color: #989898;
  margin-left: 15px;
}

.comment-count a i{
  margin-right: 4px;
}

.comment-count a:last-child i{
  color: #EC5538;
}

.comments .single-comment .comment-content h5{
  font-size: 14px;
  color: #333333;
  margin: 0 0 15px;
}

.comments .single-comment .comment-content p:last-child{
  margin: 0;
}


.comments .single-comment .comment-content.comment-form{
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}
.comment-form form textarea{
  width: 100%;
  height: 200px;
  resize: none;
  background-color: #FAFAFA;
  border: 1px solid #F3F5F7;
}

.comment-form form input[type="submit"]{
  color: #fff;
  border: none;
  line-height: 42px;
  padding: 0 35px;
  background-color: #EC5538;
  border-radius: 3px;
  margin-left: auto;
  margin-top: 15px;
  display: block;
}

/**********************
**blog single page css*
**********************/


.post-meta{
  overflow: hidden;
  margin-top: 20px;
}
.post-meta p{
  display: inline-block;
  margin-right: 15px;
  color: #989898;
}
.post-meta p i{
  color: #EC5538;
}
.post-meta p a{
  color: #989898;
  -webkit-transition: .4s;
  transition: .4s;
}
.post-meta p a:hover{
  color: #EC5538;
}
.post-meta p a.fa{
  padding: 0 6px;
}

.message_heading {
  margin-bottom: 50px;
  margin-top: 60px;
}

.inner-meta .tags{
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
}
.inner-meta .tags li{
  display: inline-block;
}
.inner-meta .tags li a{
  background-color: #F3F5F7;
  padding: 3px 8px;
  color: #989898;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 2px;
  margin-right: 2px;
}

.inner-meta .social-btns a{
  background-color: #EC5538;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  padding: 0 15px;
  border-radius: 3px;
  margin-right: 10px;
}
.inner-meta .social-btns a i{
  margin-right: 6px;
}

.inner-meta .social-btns .facebook-bg{
  background-color: #3B5998;
}
.inner-meta .social-btns .tweet-bg{
  background-color: #1DA1F2;
}

/* blog */
/*blog*/


#blog{
  background-color: #FAFAFA;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #fff;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 0;
}


.blog .blog-item .blog-content {
  padding: 25px;
}

.blog .blog-item .blog_cat {
  margin-bottom:25px;
  display: inline-block;
  font-weight: 600;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 22px;
}


.blog .blog-item .blog-content h2 a{
  color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.blog .blog-item .blog-content a.readmore{
  color: #989898;
  -webkit-transition: .4s;
  transition: .4s;
}

.blog .blog-item .blog-content a.readmore:hover,
.blog .blog-item .blog-content h2 a:hover{
  color: #FF3E24;
}

.readmore {
  margin-top: 0;
}

.blog .blog-item .blog-content h2{
  line-height: 33px;
} 
.blog .blog-item .blog-content h3 {
  color: #989898;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

/* .post-tags {} */

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta>span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

.publish_date {
  background: #EC5538;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta>span {
  color: #ccc;
}

.blog .blog-item .entry-meta>span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

/* ul.pagination{
  margin-top: 40px;
}
ul.pagination>li>a {
  border-radius: 5px;
  font-size: 16px;
  height: 32px;
  width: 32px;
  padding: 0;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  margin: 0 5px;
  border: none;
  background-color: transparent;
}

ul.pagination>li>a i {
  margin-left: 5px;
  margin-right: 5px;
}

ul.pagination>li.active>a,
ul.pagination>li:hover>a {
  background-color: #EC5538 ;
  color: #fff;
}

ul.pagination>li:first-child > a, 
ul.pagination>li:last-child > a{
  background-color: transparent;
  color: #989898;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px)
}

ul.pagination>li:first-child > a:hover, 
ul.pagination>li:last-child > a:hover{
  background-color: transparent;
  color: #EC5538;
}


ul.pagination>li:first-child > a{
  background-color: transparent;
  color: #989898;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px)
}

ul.pagination>li:last-child > a{
  background-color: transparent;
  color: #989898;
  -webkit-transform: translateX(200px);
  transform: translateX(200px)
} */


.widget.search form{
  position: relative;
}

.widget.search form button{
  position: absolute;
  right: 0;
  top: 0;
  height: 48px;
  border: none;
  line-height: 48px;
  margin: 0;
  padding: 0 15px;
  font-size: 20px;
  background-color: transparent;
}
.widget.search form button i{
  color: #EC5538;
}

.search_box {
  background-image: url("../images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}

ul.tag-cloud,
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li {
  display: inline-block;
  margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover {
  background: #EC5538;
  color: #fff;
}

ul.sidebar-gallery{
  margin: -15px;
}
.sidebar-gallery li {
  display: inline-block;
  margin: 15px 0;
  width: 50%;
  /* float: left; */
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: block;
  padding: 0 15px
}


.sidebar-gallery li a  img{
  width: 100%;
}

.widget.social_icon{
  overflow: hidden;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.widget.social_icon a{
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  line-height: 45px;
  background-color: #D8D8D8;
  color: #6D7784;
  font-size: 18px;
  border-radius: 3px;
}

.widget.social_icon a:hover{
  background-color: #EC5538;
  color: #fff;
}

/*********************
****blog page css*****
**********************/

.widget {
  margin-bottom: 30px;
  padding-left: 0;
}

aside .widget {
  background: #fff;
  padding: 25px;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
  font-weight: 700;
}

.popular_post ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

.popular_post ul li:not(:last-child){
  margin-bottom: 50px;
}


.popular_post ul li p{
  margin-top: 14px;
  color: #5c5c5c;
  font-size: 16px;
}

.blog_category {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog_category li {
  float: none;
  margin-bottom: 20px;
}

.blog_category li a {
  background: #f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover {
  background: #EC5538;
  color: #fff;
}

.badge:before {
  border-color: transparent transparent transparent #EC5538;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #EC5538;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li a {
  color: #989898;
  padding: 18px 0;
  display: block;
  font-weight: 300;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li>div {
  margin-left: 70px;
}

ul.faq li>div h3 {
  margin-top: 0;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item img {
  height: 400px;
}


/* Button pesanan */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.button {
  position: relative;
  margin: 0 auto 15px;
  display: block;
  min-width: 240px;
  height: 82px;
  text-decoration: none;
  background-color: #fafafa;
  color: #131313;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
  -webkit-box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
  box-shadow: 0 4px #e7e7e7, 0 6px 1px #d0d0d2;
}
.button * {
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.button .title {
  display: block;
  padding: 20px 0 0 20px;
  font-size: 1.25em;
}
.button .details {
  display: block;
  clear: both;
  padding: 5px 0 20px 23px;
  font-size: 0.85em;
  color: #9a9ca2;
}
.button .price {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #9a9ca2;
}
.button .price strong {
  display: inline-block;
  height: 100%;
  width: 36px;
  line-height: 82px;
  font-size: 1.25em;
  text-align: center;
  background-color: #eee;
  color: #ddd;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0;
  border-radius: 0 10px 10px 0;
  text-shadow: 0 -1px #8d8f96;
  -moz-box-shadow: 0 4px #d7d4d4;
  -webkit-box-shadow: 0 4px #d7d4d4;
  box-shadow: 0 4px #d7d4d4;
}
.button:before {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 0 0 10px;
  -moz-transition: all 0.075s linear;
  -o-transition: all 0.075s linear;
  -webkit-transition: all 0.075s linear;
  transition: all 0.075s linear;
}
.button.blue:before {
  background-color: #7daee9;
  -moz-box-shadow: 0 4px #719dd2;
  -webkit-box-shadow: 0 4px #719dd2;
  box-shadow: 0 4px #719dd2;
}
.button.blue:hover:before {
  background-color: #719dd2;
  -moz-box-shadow: 0 4px #6085b3;
  -webkit-box-shadow: 0 4px #6085b3;
  box-shadow: 0 4px #6085b3;
}
.button.blue:active:before {
  -moz-box-shadow: 0 2px #6085b3;
  -webkit-box-shadow: 0 2px #6085b3;
  box-shadow: 0 2px #6085b3;
}
.button.magenta:before {
  background-color: #de7cb9;
  -moz-box-shadow: 0 4px #c870a7;
  -webkit-box-shadow: 0 4px #c870a7;
  box-shadow: 0 4px #c870a7;
}
.button.magenta:hover:before {
  background-color: #c870a7;
  -moz-box-shadow: 0 4px #aa5f8e;
  -webkit-box-shadow: 0 4px #aa5f8e;
  box-shadow: 0 4px #aa5f8e;
}
.button.magenta:active:before {
  -moz-box-shadow: 0 2px #aa5f8e;
  -webkit-box-shadow: 0 2px #aa5f8e;
  box-shadow: 0 2px #aa5f8e;
}
.button.green:before {
  background-color: #7fd373;
  -moz-box-shadow: 0 4px #72be68;
  -webkit-box-shadow: 0 4px #72be68;
  box-shadow: 0 4px #72be68;
}
.button.green:hover:before {
  background-color: #72be68;
  -moz-box-shadow: 0 4px #61a258;
  -webkit-box-shadow: 0 4px #61a258;
  box-shadow: 0 4px #61a258;
}
.button.green:active:before {
  -moz-box-shadow: 0 2px #61a258;
  -webkit-box-shadow: 0 2px #61a258;
  box-shadow: 0 2px #61a258;
}
.button.red:before {
  background-color: #f66d64;
  -moz-box-shadow: 0 4px #dd625a;
  -webkit-box-shadow: 0 4px #dd625a;
  box-shadow: 0 4px #dd625a;
}
.button.red:hover:before {
  background-color: #dd625a;
  -moz-box-shadow: 0 4px #bc534d;
  -webkit-box-shadow: 0 4px #bc534d;
  box-shadow: 0 4px #bc534d;
}
.button.red:active:before {
  -moz-box-shadow: 0 2px #bc534d;
  -webkit-box-shadow: 0 2px #bc534d;
  box-shadow: 0 2px #bc534d;
}
.button:hover {
  -moz-box-shadow: 0 4px #e2e2e2, 0 6px 1px #ccccce;
  -webkit-box-shadow: 0 4px #e2e2e2, 0 6px 1px #ccccce;
  box-shadow: 0 4px #e2e2e2, 0 6px 1px #ccccce;
}
.button:hover .price strong {
  background-color: #e9e9e9;
  -moz-box-shadow: 0 4px #d3d0d0;
  -webkit-box-shadow: 0 4px #d3d0d0;
  box-shadow: 0 4px #d3d0d0;
}
.button:active {
  top: 1px;
  -moz-box-shadow: 0 2px #e2e2e2, 0 4px 1px #ccccce;
  -webkit-box-shadow: 0 2px #e2e2e2, 0 4px 1px #ccccce;
  box-shadow: 0 2px #e2e2e2, 0 4px 1px #ccccce;
}
.button:active .price strong {
  background-color: #e9e9e9;
  -moz-box-shadow: 0 2px #d3d0d0;
  -webkit-box-shadow: 0 2px #d3d0d0;
  box-shadow: 0 2px #d3d0d0;
}

.tags a{border:1px solid #DDD;display:inline-block;color:#717171;background:#FFF;-webkit-box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);box-shadow:0 1px 1px 0 rgba(180,180,180,0.1);-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;-ms-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-radius:2px;margin:0 3px 6px 0;padding:5px 10px}
.tags a:hover{border-color:#08C;}
.tags a.primary{color:#FFF;background-color:#428BCA;border-color:#357EBD}
.tags a.success{color:#FFF;background-color:#5CB85C;border-color:#4CAE4C}
.tags a.info{color:#FFF;background-color:#5BC0DE;border-color:#46B8DA}
.tags a.warning{color:#FFF;background-color:#F0AD4E;border-color:#EEA236}
.tags a.danger{color:#FFF;background-color:#D9534F;border-color:#D43F3A}



/*# sourceMappingURL=style.css.map */
